menu "StudioPieters"

      config ESP_LED_GPIO
              int "Set the GPIO for the LED"
              default 2
              help
                  The GPIO number the LED is connected to.

      config ESP_BUTTON_GPIO
              int "Set the GPIO for the factory Reset button"
              default 33
              help
                  The GPIO number the button is connected to.

endmenu
